.button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Graphik";
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    width: 100%;
    height: 54px;
    color: white;
    text-align: left;
    text-decoration: none;
    box-shadow: rgba(0,0,0,0.3) 0 3px 7px;
}

.button:focus {
    outline: none;
}

.blue-button {
    background: rgb(0,122,255);
}

.red-button {
    background: rgb(255,45,85);
}