.button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Graphik";
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    width: 100%;
    min-height: 54px;
    color: white;
    text-align: left;
    text-decoration: none;
    box-shadow: rgba(0,0,0,0.3) 0 3px 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.button div {
    border: 0;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 32px;
    box-sizing: border-box;
}

.button:focus {
    outline: none;
}

.blue-button {
    background: rgb(0,122,255);
}

.red-button {
    background: rgb(255,45,85);
}

.green-button {
    background: rgb(52,199,89);
}

@media screen and (max-width: 310px) {
    .button div {
        visibility: hidden;
    }
}

@media screen and (max-width: 190px) {
    .button {
        font-weight: 500;
        font-size: 90%;
    }
}