.scanner {
    background-color: black;
    display: block;
    clear: both;
    overflow: hidden;
}

.scanner-sec {
    width: 100%;
    height: 100%;
}

.scanner-sec section{
    height: 100%;
    padding-top: 0 !important;
}